.edit-course {
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.input {
    margin-left: 30% !important;
    margin-right: 30% !important;
    font-size: 20px !important;
}

.authors {
    display: flex;
    margin-left: auto !important;
    margin-right: auto !important;
}

.managment-course {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.list-item {
    text-align: center;
}

.list-item-text {
    padding: 0 !important;
}

.edit-course-buttons {
    margin-top: 20px;
    margin-left: auto !important;
    margin-right: auto !important;
}

.save-button {
    margin-right: 60px !important;
}

.potential-authors-list, .course-authors-list {
    overflow: auto;
    max-height: 200px;
}