.header-root {
    top: 0;
    z-index: 1000;
}

.navbar{
    background-color: #2196f3 !important;
    height: 3% !important;
    margin: 0;

}
.grow {
    margin-right: 100px;
}

.login-button{
    margin-right: 1000px;
}